ng-sidebar-container{
    height: 100vh;
}

::ng-deep .ng-sidebar{
    background-color:whitesmoke;
    width: 300px;
    padding: 2em 3em;
    text-align: left;
    /* box-shadow: 0 0 2.5em rgb(85,85, 85, 0.5); */
}

.menu{
    margin-top: 100px;
    display: block;
}

.menu li{
    margin-bottom: 15px;
    
}

.menu li a {
    margin-top: 500;
    display: block;
    width: 100%;
    text-decoration: none;
}



