<ng-sidebar-container >

    <ng-sidebar [(opened)]="opened" [mode]="'push'" >
        <!-- <p>sidebar content</p> -->
        <!-- <button (click)="toggleSidebar()">close sidebar</button> -->
        <h3>Side-Bar..</h3>
        <ul class="menu">
            <br>
            <!-- <a class="nav-link link-dark" routerLinkActive="active" routerLink="/welcome">Welcome home</a> <br>
            <a class="nav-link link-dark" routerLinkActive="active" routerLink="/add-employee">Add Employee</a> <br>
            <a class="nav-link link-dark" routerLinkActive="active"  routerLink="/employee-list">Employee List</a> <br>
            <a class="nav-link link-dark" routerLinkActive="active"  routerLink="/add-department">Add Department</a> <br>
            <a class="nav-link link-dark" routerLinkActive="active"  routerLink="/department-list">Department List</a> <br> -->
            <li>
                <button type="button" class="btn btn-outline-secondary" routerLinkActive="active"
                    routerLink="/welcome">Welcome home</button>
            </li>
            <li> <button type="button" class="btn btn-outline-secondary mt-3" routerLinkActive="active"
                    routerLink="/add-employee">Add Employee</button> </li>
            <li> <button type="button" class="btn btn-outline-secondary mt-3" routerLinkActive="active"
                    routerLink="/employee-list">Employee List</button> </li>
            <li> <button type="button" class="btn btn-outline-secondary mt-3" routerLinkActive="active"
                    routerLink="/add-department">Add Department</button> </li>
            <li> <button type="button" class="btn btn-outline-secondary mt-3" routerLinkActive="active"
                    routerLink="/department-list">Department List</button>
        </ul>
    </ng-sidebar>
    <div ng-sidebar-content>

        <!-- <button class="demo-header__toggle" (click)="toggleSidebar()">
            open sidebar
        </button> -->


        <router-outlet></router-outlet>
    </div>
</ng-sidebar-container>