<div class="row container form">
    <!-- col-6 m-auto p-2 bd-highlight  -->
    <div class="col-6 m-auto p-2 bd-highlight">
      <div class="card m-auto shadow">
        <div class="card-header ">
          Add Department
        </div>
        <div class="card-body ">
          <form [formGroup]="formvalue">
            <div class="form-group col-12 form-inline ">
              <label for="firstName" class="form-label">FirstName</label>
              <input type="text" class="form-control" formControlName="firstName">
              <!-- <span *ngIf="!firstName.valid && (firstName.touched ||userSubmitted)" class="error-block">Please provide a name. </span> -->
            </div>
            <br>
            <div class="form-group col-12">
              <label for="lasttName" class="form-label">LastName</label>
              <input type="text" class="form-control" formControlName="lastName" required>
              <!-- <span *ngIf="!lastName.valid && (lastName.touched|| userSubmitted)" class="error-block">Please provide a last name. </span> -->
            </div>
            <br>
            <div class="form-group col-12">
                <label for="lasttName" class="form-label">Department</label>
                
                <!-- <input type="text" class="form-control" formControlName="department" required> -->
                <select class="form-control" formControlName="department">
                  <option>Sales</option>
                  <option>HR</option>
                  <option>IT</option>
                  <option>QA</option>
                  <option>ASE</option>
                  <option>SE</option>
                  <option>SSE</option>
                  <option>Lead Er.</option>
                  <option>Manager</option>
                </select>
                <!-- <span *ngIf="!lastName.valid && (lastName.touched|| userSubmitted)" class="error-block">Please provide a last name. </span> -->
              </div>
             
              <br>
            
            <div class="form-group col-12 ">
              <button type="reset" class="btn btn-success " (click)="postDepartmentDetails()">Submit</button>
              <button type="reset" class="btn btn-primary mx-3">Reset</button>
              <br>
            </div>
          </form>
         
        </div>
      </div>
    </div>
  </div>
  